#contact{
	background: url('img/contact-hover.png');	
	height: 120px;
	width: 120px;
}
#contact:hover{
	background: url('img/contact-hover.png');
	color: #76AEDD;
}
.connection{
float: right; margin-right: 10px;width: 200px;
}
.red-box{
	background-color: #D85A72;
	color: white;
	border-color: #7A7A7A;
	border-radius: 5px;
	box-shadow: 0px 0px 4px silver;
	height: 70px;
	margin-left : 12%;
}
.red-box p{
	text-align: right;
	padding: 10px;
	width : 900px;
}


#facebook{
	background: url('img/facebook-hover.png');
	width: 50px;
	height: 50px;
	display: inline-block;
}
#twitter{
	background: url('img/twitter-hover.png');
	width: 50px;
	height: 50px;
	display:inline-block;
}
#gplus{
	background: url('img/gplus-hover.png');
	width: 50px;
	height: 50px;
	display:inline-block;
}
.contact-form{
	text-align: right;
	color : blue;
	margin-left: 280px;
	width: 800px;
	height: 400px;
	box-shadow: 0px 30px 40px silver;
}
.form-element{
	display: inline-block;
	margin-right: 5%;
	font-size: 80%;
}
.form-element input{
	border-radius: 20px;
	width: 200px;
	border-color: silver;
	border-style: solid;
	border-width: 1px;
	background-color: #DAE5F0;
	height: 30px;
	padding-right: 15px;
//	padding-left: 15px;
	direction: rtl;
}
.form-element textarea{
	border-radius: 20px;
	width: 650px;
	height: 150px;
	border-color: silver;
	border-style: solid;
	border-width: 1px;
	background-color: #DAE5F0;
	padding: 2%;
	margin:2%;
	/*margin-bottom: 100px;*/
	resize: none;
	direction: rtl;
}
.contact-form button{
	border-radius: 20px;
	color: blue;
	border-style: solid;
	border-color: blue;
	width: 200px;
	height: 30px;
	background-color: white;
	border-width: 1px;
	margin-left: 8%; 
	float:  left;
	cursor:pointer;
}