#return{
	background: url('img/return-hover.png');	
	height: 120px;
	width: 120px;
}
#return:hover{
	background: url('img/return-hover.png');
	color: #76AEDD;
}
.content{
	direction: rtl;
	padding: 10%;
	padding-top: 1%;
	height: 500px;
}
.order-form{
	text-align: right;
	color : blue;
	margin: 1%;
	width: 300px;
	height: 250px;
	box-shadow: 0px 30px 40px silver;
	padding: 10px;
}
.order-form input{
	border-radius: 20px;
	width: 220px;
	border-color: silver;
	border-style: solid;
	border-width: 1px;
	background-color: #DAE5F0;
	height: 30px;
	margin: 10px 40px;
}
.order-form p{
	margin: 1px 40px;
}
.order-form button{
	border-radius: 20px;
	width: 100px;
	border-style: solid;
	border-color: blue;
	background-color: blue;
	color: silver;
	height: 30px;
	width: 220px;
	margin: 5px 40px;
}